body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #000000;
}

header {
    height: 16em;
}

img {
    float: right;
}

header div {
    width:15em;
    height: 15em;
    line-height: 4em;
    text-align: center;
    border-radius: 15em;
    line-height: auto;
    color: gray;
    background-color: #c0c0c0;
    float: left;
}   

.circle {
    width:15em;
    height: 15em;
    line-height: 12em;
    text-align: center;
    border-radius: 15em;
    line-height: auto;
    color: gray;
    background-color: #c0c0c0;
    float: left; 
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

header div:hover {
    color: black;
}

